/*
1. each username, tweet, and date should be its own element
2. together, the three should each be wrapped in their own element that i can move
3. i would like all of these elements to be grouped together in a feed wrapper
4. this feed wrapper should be centered
*/ 


h1 {
  display: block;
  font: bold;
  text-align: center;
  color: #39aee8;
  font-family: Helvetica Neue;
  margin-bottom: .3em;
}

h2.home {
  display: block;
  text-align: center;
  color: #78cacc;
  font-family: Helvetica Neue;
  margin: 0;
  margin-bottom: .3em;
}

section {
  margin: 0 20%;
  padding: 2%;
  border: 1px solid gray;
  background-color: white;
  border-radius: 2%;
}

.tweet {
  margin-bottom: 20px;
  border: 1px solid white;
}

.username {
  border: 1px solid white;
  font-size: 125%;
  background-color: #f1e7b4;
  border-radius: 8%;
}

.message {
  border: 1px solid white;
  font-size: 200%;
  background-color: antiquewhite;
  border-radius: 15%;
}

.date {
  border: 1px solid white;
  background-color: #f5c5ad;
  border-radius: 6%;
}







/*
button {
  text-align: center;
}
*/

body {
  background-color: rgba(0,200,255,.15);
}
