/*
1. each username, tweet, and date should be its own element
2. together, the three should each be wrapped in their own element that i can move
3. i would like all of these elements to be grouped together in a feed wrapper
4. this feed wrapper should be centered
*/ 


h1 {
  display: block;
  font: bold;
  text-align: center;
  color: #9edbf1;
  font-family: Helvetica Neue;
  margin-bottom: .3em;
}

h2.home {
  display: block;
  text-align: left;
  color: #9edbf1;
  font-family: Helvetica Neue;
  margin: 0 21%;
  margin-bottom: .3em;
}

.button {
  display: none;
  margin: 0 20%;
  float: right;
}

button {
  color: #9edbf1;
  height: 2em;
  font-weight: bold;
  font-size: 1em;
  font-family: Helvetica Neue;
  border-radius: .5em;
  border: none;
}

section {
  margin: 0 20%;
  padding: 2%;
  border: 1px solid gray;
  background-color: white;
  border-radius: .5em;
}

.tweet {
  margin-bottom: 20px;
  border: 1px solid white;
}


.username {
  color: black;
  border: 1px solid white;
  font-size: 125%;
  background-color: #f3f9f9;
}

.username:hover {
  cursor: pointer;
}

.message {
  color: #9edbf1;
  border: 1px solid white;
  font-size: 200%;
  background-color: white;
}

.date {
  color: black;
  border: 1px solid white;
  background-color: #f3f9f9;
}







/*
button {
  text-align: center;
}
*/

body {
  background-color: #f3f9f9;
}
