
h1 {
  display: block;
  font: bold;
  text-align: center;
  color: #9edbf1;
  font-family: Helvetica Neue;
  margin-bottom: .3em;
}

h2.home {
  display: block;
  text-align: left;
  color: #9edbf1;
  font-family: Helvetica Neue;
  margin: 0 21%;
  margin-bottom: .3em;
}

.button {
  display: none;
  position: relative;
  top: -2em;
  margin: 0 20%;
  float: right;
}

button {
  color: #9edbf1;
  height: 2em;
  font-weight: bold;
  font-size: 1em;
  font-family: Helvetica Neue;
  border-radius: .5em;
  border: none;
}

section {
  margin: 0 20%;
  padding: 2%;
  border: 1px solid gray;
  background-color: white;
  border-radius: .5em;
}

.tweet {
  margin-bottom: 20px;
  border: 1px solid white;
}


.username {
  color: black;
  border: 1px solid white;
  font-size: 125%;
  background-color: #f3f9f9;
}

.username:hover {
  cursor: pointer;
}

.message {
  color: #9edbf1;
  border: 1px solid white;
  font-size: 200%;
  background-color: white;
}

.date {
  color: black;
  border: 1px solid white;
  background-color: #f3f9f9;
}

legend {
  color: #9edbf1;
  font-size: 150%;
  font-family: Helvetica Neue;
  font-weight: bold;
}

.usernameField,
.tweetField {
  border: 1px solid black;
  border-radius: .5em;
  height: 2em;
  width: 15em;
}

fieldset {
  background-color: #f3f9f9;
  border: none;
}

.userTweet {
  float: right;
  margin-right: 3em;
  margin-top: 1em;
  font-size: 150%;
  color: #9edbf1;
  border: none;
  font-weight: bold;
  font-family: Helvetica Neue;
  cursor: pointer;
  transition: .5s;
}

.userTweet:hover {
  opacity: 1;
  padding-right: .5em;
}

.userTweet:after {
  : '>'
}

/*
button {
  text-align: center;
}
*/

body {
  background-color: #f3f9f9;
}
